**/bin/
**/obj/
**/.vs/
**/.idea/
**/.vscode/
**/node_modules/
**/*.db
**/*.db-shm
**/*.db-wal
.git/
.gitignore
.dockerignore
*.md
*.user
*.suo
appsettings.json
appsettings.Development.json
secrets.json
